@model Product;

@{
    ViewData["Title"] = "Detail";
}

<h1>Coffee Details!</h1>

Product Code: @Model.id <br />
Product Name: @Model.name <br />
Product Description: @Model.description <br />
Product Price: @Model.price <br />
Product Inventory: @Model.inventory <br />
Product Category: @Model.category